<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Jekyll v3.8.5" />
  <title>Belle Bank</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/assets/css/auth.css" rel="stylesheet" />
</head>

<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
    <label for="fullname" class="sr-only">Full name</label>
    <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Full Name" required autofocus />
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="E-mail Address" name="email" required />
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" name="password" required />
    <hr>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign up
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  </form>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>
</body>

</html>
