</div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/feather.min.js"></script>
<script src="/assets/js/Chart.min.js"></script>
<script src="/assets/js/script.js"></script>
</body>

</html>
