<%- include('../partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="140"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Jollof rice</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Jollof rice</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="140"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Jollof beans</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Jollof beans</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="140"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Fried rice & chicken</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Fried rice & chicken</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="140"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Fried rice & chicken</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Fried rice & chicken</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
